body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(43,35,172);
background: linear-gradient(90deg, rgba(43,35,172,1) 0%, rgba(19,60,136,1) 0%, rgba(162,228,233,1) 32%, rgba(0,212,255,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
